body{
    font-family: 'Roboto Condensed', sans-serif;
}

.top-section {
    background-color: black;
    height: 29%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: absolute;
}

.dash-table-container .dash-spreadsheet-container {
    display: flex;
    flex-direction: row;
    position: relative;
    line-height: initial;
    float: left;
}

.dash-table-container .previous-next-container {
    text-align: right;
    padding: 5px 0px;
    float: left;
}
#top-h1 {
    color: #CFCFCF;
    margin: 10px auto;
    text-align: center;
}

#top-p { 
    color: #CFCFCF;
    text-align: center;
    margin-top: 2rem;
}

#top-image {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

}

#madeby { 
    color : #CFCFCF;
    text-align: center;
    margin-top: 1rem ;
}
#first-graph {
    margin-top: 250px;
}

.exmp_dfset {
    text-align: center;
    right: 3em;
    top: 50rem;
    margin-top: 50px;
}

.footer {
    background-color: rgb(233, 170, 170);
    position: absolute;
    left: 0;
    width:100%;
    height:200px;
    text-align: center;
}

.drpdwn-musiccat {
    width: 300px;
    display: flex;
    justify-content: center;
    margin-left: 750px;
    padding-bottom: 30 px;
}

